@import "../../variables";

.whyUs {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 1rem;
  text-align: center;

  .WhyUsCard {
    margin: 1.5em 0;
    padding: 1rem 2rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: $primary-color;
    overflow: hidden;
    &::before {
      content: "";
      width: 150%;
      height: 100%;
      position: absolute;
      top: 25%;
      left: -25%;
      background-color: rgba(255, 255, 255, 0.1);
      transform: rotate(10deg);
    }

    .whyIcon-container {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 6px;
      width: 14rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(45deg);
      }

      i {
        font-size: 2rem;
        color: $primary-color;
        position: relative;
        z-index: 2;
      }
    }

    .why-content {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      color: #fff;

      p {
        color: #fff;
      }
    }
  }
}

@media (min-width: 768px) {
  .whyUs {
    .WhyUsCard {
      .whyIcon-container {
        width: 6rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .whyUs {
    width: 100%;
    padding-left: 10rem;
  }
}
