@import "../variables";

.Testimonials {
  padding: 1rem;
  background-color: #fff;
  position: relative;
  top: -5.1rem;
  z-index: 2;

  .TestimonialCard {
    .review {
      width: 100%;
      padding: 1rem;
      background-color: #f8f8ff;
      border-radius: 8px;

      i {
        color: $primary-color;
        font-size: 2rem;
        margin: 1rem 50%;
        transform: translateX(-50%);
      }
      p {
        text-align: center;
        @include textSecondary;
      }
    }
    .person-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -1.5rem;

      img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 6px solid rgba(71, 119, 244, 0.29);
        margin-bottom: 0.5rem;
      }

      p {
        @include textSecondary;
      }
    }
  }
}

@media (min-width: 768px) {
  .Testimonials {
    top: -5.25rem;

    .TestimonialCard {
      width: 70%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1024px) {
  .Testimonials {
    .TestimonialCard {
      width: 45%;
      padding: 1rem 4rem;
    }
  }
}
