.Features {
  padding: 6.5rem 0;
  position: relative;
  top: -5rem;
  z-index: 1;
  background-color: #fff;

  .Feature-cards {
    margin-top: 5rem;
  }
}

@media (min-width: 768px) {
  .Feature-cards {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .Feature-cards {
    div {
      display: flex;
    }
  }
}
